/*Imports, yo*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
body {
  font-family: Open Sans; }

img {
  margin: 0; }

h1 {
  color: #D9202B;
  font-size: 1.3rem;
  line-height: 1rem; }

h2 {
  font-weight: bold;
  color: white;
  font-size: 1em; }

p {
  font-size: .75rem;
  line-height: 1rem;
  color: #A2A2A2; }

a {
  text-decoration: none;
  color: #A2A2A2; }

a:hover {
  text-decoration: underline;
  text-decoration-color: #5CAFA9; }

ul {
  list-style-type: none;
  text-align: left;
  padding: 0px;
  margin: 0; }

li {
  display: inline-block;
  margin: 0 .5rem; }

button {
  color: white;
  border: 0;
  background-color: #D9202B; }

td {
  font-size: .75em; }

tr {
  border-top: 1px solid #ccc; }

/*------------------------------*\
    Grid System
\*------------------------------*/
.row,
.column {
  box-sizing: border-box;
  overflow: hidden; }

.row:before,
.row:after {
  content: " ";
  display: table; }

.row:after {
  clear: both; }

.column {
  position: relative;
  float: left;
  display: block; }

.column + .column {
  margin-left: 1.6%; }

.column-1 {
  width: 6.86666666667%; }

.column-2 {
  width: 15.3333333333%; }

.column-3 {
  width: 23.8%; }

.column-4 {
  width: 32.2666666667%; }

.column-5 {
  width: 40.7333333333%; }

.column-6 {
  width: 49.2%; }

.column-7 {
  width: 57.6666666667%; }

.column-8 {
  width: 66.1333333333%; }

.column-9 {
  width: 74.6%; }

.column-10 {
  width: 83.0666666667%; }

.column-11 {
  width: 91.5333333333%; }

.column-12 {
  width: 100%;
  margin-left: 0; }

@media only screen and (max-width: 550px) {
  .column-1,
  .column-2,
  .column-3,
  .column-4,
  .column-5,
  .column-6,
  .column-7,
  .column-8,
  .column-9,
  .column-10,
  .column-11,
  .column-12 {
    float: none;
    width: auto; }

  .column + .column {
    margin-left: 0; } }
/*------------------------------*\
    Styling
\*------------------------------*/
.column {
  background: #FFF;
  border: .5px solid #ccc;
  border-radius: 3px;
  color: #E8E9E8;
  min-height: 30px;
  text-align: center; }

.column-1 {
  background-color: #E8E9E8;
  border: none; }

.column-5 {
  border: none; }
  .column-5 h2 {
    text-align: left;
    color: #1A252B; }

.row {
  padding: 10px;
  margin-bottom: 10px; }

.row:last-child {
  margin-bottom: 0; }

body {
  background-color: #E8E9E8; }

.nav {
  height: 4em;
  overflow: hidden;
  background-color: #FFFFFF;
  border-bottom: 0.5px solid #E8E9E8;
  text-align: center;
  padding: 0 .5rem 0 .5rem; }
  .nav h1 {
    padding-bottom: 0;
    margin-bottom: 0; }
  .nav img {
    height: 2em; }
  .nav p {
    margin: .25em auto; }
  .nav a :hover {
    text-decoration: none; }

.left-nav {
  float: left; }

.right-nav {
  float: right; }

.heronav {
  margin: auto;
  width: 968px; }

.heronav img {
  width: 100%; }

.heronav ul {
  margin: .6em 3px; }
.heronav a {
  padding: .25em; }
.heronav a:hover {
  background-color: #1A252B;
  border: 1px solid #1A252B;
  border-radius: 3px;
  color: white; }

.meat {
  margin: auto;
  width: 968px; }

.about img {
  width: 100%;
  border-bottom: 1px solid #A2A2A2; }

.about h1 {
  text-align: left;
  color: #5CAFA9; }

.about p {
  text-align: left;
  color: #A2A2A2; }

.button {
  box-shadow: none;
  height: 2em;
  width: 100%;
  background-color: #E8E9E8;
  font-size: .8em;
  color: #5CAFA9;
  text-align: center;
  padding: .25em;
  margin: 1em auto;
  border-radius: 3px; }
  .button:hover {
    background-color: #ccc; }

.organizers {
  border-top: 1px solid #E8E9E8;
  border-bottom: 1px solid #E8E9E8;
  text-align: left; }

.organizers .org-list {
  float: left;
  width: 50%; }

.organizers .owl {
  width: 20%;
  float: right;
  margin: .5em; }

.organizers .button {
  margin-top: 2em;
  clear: both; }

.were-about {
  text-align: left; }

.were-about h2 {
  color: black;
  font-weight: normal;
  line-height: 1em; }

.were-about a {
  color: #5CAFA9; }

.meattwo {
  padding: 1em; }

.meattwo h2 {
  color: black;
  text-align: left;
  font-weight: normal;
  border-bottom: 1px solid #E8E9E8; }

.otherlistingicon {
  float: left;
  clear: both; }

.otherlistingtext {
  text-align: left;
  float: right; }
  .otherlistingtext a {
    color: #5CAFA9; }

.welcome {
  padding: 1em; }
  .welcome h1 {
    text-align: left; }

.button .suggest {
  text-align: left; }

.get-started {
  margin: 0 auto;
  background-color: white;
  border-bottom: 0.5px solid #E8E9E8; }
  .get-started h2 {
    max-width: 15em; }

.get-started p {
  font-size: .9rem;
  line-height: 1.6em;
  color: #1A252B; }

.get-started .column-1 {
  background-color: #fff; }

.coffeetext p {
  float: left;
  width: 70%;
  text-align: left; }

.rightside img {
  float: right;
  width: 20%; }

.sig {
  width: 100%;
  clear: both; }

.footer {
  background-color: #1A252B;
  border-radius: 3px;
  color: #FFF;
  padding: 10px 5px;
  min-height: 30px;
  text-align: center; }
  .footer ul {
    margin: 0 12.5%;
    padding-top: 1em; }
  .footer a {
    color: white; }

.footer-cta {
  overflow: hidden;
  height: 3em;
  border-bottom: 0.5px solid #A2A2A2; }
  .footer-cta ul {
    vertical-align: middle; }

@media only screen and (max-width: 768px) {
  .row {
    margin-bottom: 0; }

  .column {
    margin-bottom: 10px; }

  .row:last-child .column:last-child {
    margin-bottom: 0; } }

/*# sourceMappingURL=style.css.map */
